In [1]:
import pandas as pd
import plotly.graph_objects as go

In [2]:
df = pd.read_csv('../data/housingdataconditioned.csv')
df.head()

   Unnamed: 0      0     1        2
0           0  STATE  YEAR  PERCENT
1           1     US  2010     65.1
2           2     US  2000     66.2
3           3     US  1990     64.2
4           4     US  1980     64.4